
<% layout('layouts/boilerplate') %>
    <h2>Doctor Dashboard</h2>
<p>Welcome, Dr. <%= name %>!</p>

<h3>Appointments:</h3>
<table border="1" cellpadding="10">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% if (appointments.length === 0) { %>
      <tr>
        <td colspan="3">No appointments yet.</td>
      </tr>
    <% } else { %>
      <% appointments.forEach(appointment => { %>
        <tr>
          <td><%= appointment.patientId.name %></td>
          <td><%= appointment.date %></td>
          <td><%= appointment.time %></td>
        </tr>
      <% }) %>
    <% } %>
  </tbody>
</table>
<form action="/logout" method="GET" style="text-align: right;">
  <button type="submit">Logout</button>
</form>
 