<% layout('layouts/boilerplate') %>
    <div>
           <h1>Apple Hospital</h1>
       <div class="divv">
        <div class="intro">
            <h4>WE CARE ABOUT YOUR HEALTH</h4>
        <p>Check Now Your Health With Our Professional Doctor,
        Complete And Modern Fasilities Services</p>
        <form action="/register">
            <button type="submit" class="btn btn-primary"> Check Now</button>
        </form> 
        </div> 
        <div class="imgg">
            <img src="/background.jpeg"  alt="imgg">
         </div>
        </div>
      </div>
      

