

   <% layout('layouts/boilerplate') %>

     <div class="mt-5  d-flex justify-content-center">
        <form action="/login" method="post">

        <label for="email" class="col-sm-4 col-form-label">Email</label>
        <input name="email" class="col-sm-6" type="text" required/> <br><br>

        <label for="password" class="col-sm-4 col-form-label">Password</label>
        <input name="password" class="col-sm-6" type="text" required/> <br><br>
        <div class="d-flex justify-content-center">
        <button type="submit" class=" btn btn-primary">login</button>
   </div>
    </form>
    </div>
     

